* {
    border: none;
    font-family: UbuntuMono;
    font-size: 14px;
    border-radius: 0px;
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    margin: 5px 0px; 
    padding: 5px 0px;
    background: rgba(12, 11, 16, 0.9);
}

/*-----module groups----*/
.modules-right {
	background-color: rgba(13,12,18,0.00);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
}
.modules-center {
	background-color: rgba(13,12,18,0.00);
    margin: 0px 0 0 0;
}
.modules-left {
    margin: 0px 0 0 0px;
	background-color: rgba(0,119,179,0.0);
}


/*-----modules indv----*/
#workspaces {
	margin: 4px 0px;
	padding: 0px 4px;
	border-radius: 2px;
	background-color: rgba(28,26,38,0.0);
}

#workspaces button {
	margin: 0px 4px;
	padding: 0px 1px;
	color: #5e5e5e;
	background-color: rgba(20,20,20,0.0);
}

#workspaces button.active {
    margin: 0px 4px;
    padding: 0px 1px;
    border-radius: 2px;
    border-bottom: 2px;
    color: #edf9fa;
    background-color: rgba(50,50,80,0.9);
}

#window {
	margin: 0px 0px 0 0px;
	padding: 0px 10px; 
	background-color: rgba(12,13,18,0.0);
}

#mode {
	margin: 0 0 0 0;
	padding: 0px 10px;
}

#backlight {
	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #e0f9ff;
        background-color: rgba(30,30,50,0.8);
}

#battery {
	margin: 0px 3px;
        padding: 0px 12px;
        border-radius: 10px;
        color: #e0f9ff;
        background-color: rgba(30,30,50,0.0);
}

#battery.charging {
	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #e7ff87;
        background-color: rgba(30,30,50,0.0);
}

#battery.warning {
	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #ff0000;
        background-color: rgba(30,30,50,0.0);
}

#bluetooth,
#bluetooth.connected {
	margin: 0px 2px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #bbddfc;
        background-color: rgba(30,30,50,0.0);
}

#bluetooth.off, 
#bluetooth.disabled {
	margin: 0px 2px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #787878;
        background-color: rgba(30,30,50,0.0);
}

#clock {
       margin: 0px 3px; 
       padding: 4px 16px;
       border: 1px solid rgba(60,60,60,0.9);
       border-radius: 4px;
       color: #c5daed;
       background-color: rgba(30,30,50,0.0);
}

#custom-icon {
	margin: 0px 0px;
	padding: 0px 5px;
}

#custom-separator {
	margin: 0px 4px;
}

#network {
	margin: 0px 2px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #bbddfc;
        background-color: rgba(30,30,50,0.0);
}

#network.ethernet {
	margin: 0px 2px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #aebfcf;
        background-color: rgba(30,30,50,0.0);
}

#custom-notification {
  margin: 0px 0px;
  padding: 0px 10px;
}

#temperature {
        margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #beedea;
        background-color: rgba(30,30,50,0.0);
}

#temperature.critical {
        margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #ff6f00;
        background-color: rgba(30,30,50,0.0);
}

#wireplumber {
      	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #e0f9ff;
        background-color: rgba(30,30,50,0.0);
}

#wireplumber.muted {
      	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #787878;
        background-color: rgba(30,30,50,0.0);
}

#cpu,
#memory,
#disk {
	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #beedea;
        background-color: rgba(30,30,50,0.0);
}

#backlight {
      	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        background-color: rgba(30,30,50,0.0);
}

#tray {
	margin: 0px 40px 0px 5px;
        padding: 0px 12px;
	background-color: rgba(18,22,32,0.8);
}

#tray menu {
	background-color: rgba(12,13,41,0.95);
}
