* {
    border: none;
    font-family: JetBrains Mono;
    font-size: 12px;
    color: #ffffff;
    border-radius: 16px;
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(13, 12, 18, 0.00);
}

/*-----module groups----*/
.modules-right {
	background-color: rgba(13,12,18,0.85);
    margin: 0px 0px 0px 0;
    padding: 0px 12px;
}
.modules-center {
	background-color: rgba(13,12,18,0.85);
    margin: 0px 0 0 0;
}
.modules-left {
    margin: 0px 0 0 5px;
	background-color: rgba(0,119,179,0.0);
}


/*-----modules indv----*/
#workspaces {
	padding: 0px 0px;
	color: orange;
	background-color: rgba(12,13,21,0.8);
}

#workspaces button {
	padding: 0px 1px;
	color: orange;
}

#workspaces button.active {
    margin: 0px 1px 0px 1px;
    padding: 0px 0px;
    color: orange;
    background-color: rgba(20,20,20,0.8);
}


#window {
	margin: 0px 0px 0 40px;
	padding: 0px 10px;
	background-color: rgba(18,22,22,0.8);
}

#clock {
       padding: 0px 16px;
       background-color: rgba(12,13,41,0.8);
}

#backlight {
	margin: 0px 15px 0px 15px;
}

#bluetooth {
	margin: 0px 15px 0px 15px;
}

#battery {
	margin: 0px 15px 0px 15px;
}

#cpu {
	margin: 0px 15px 0px 15px;
}

#disk {
	margin: 0px 15px 0px 0px;
}

#memory {
	margin: 0px 15px 0px 15px;
}

#temperature {
	margin: 0px 15px 0px 15px;
}

#network {
	margin: 0px 15px 0px 10px;
}

#wireplumber {
	margin: 0px 15px 0px 15px;
}

#tray {
	margin: 0px 40px 0px 5px;
	background-color: rgba(18,22,32,0.8);
}

#tray menu {
	background-color: rgba(12,13,41,0.95);
}
