@import url("icons.css");
@import url("sidebar.css");
@import url("url-bar.css");
@import url("window-controls.css");
@import url("extensions.css");
@import url("nav-bar.css");

:root {
    --user-panel-gap: 8px;
    --user-radius: 6px;
    --user-rounded-corners-shadow: none;
    /*   0 -.8px 0 0 rgb(0 0 0 / 0.02), */
    /*   0 0.5px 1px 1px rgb(0 0 0 / 0.06), */
    /*   0 1px 1px rgb(0 0 0 / 0.1); */
    /* @media (resolution > 1.8dppx) { */
    /*     --user-rounded-corners-shadow: */
    /*     0 0 0.5px 0.5px rgb(0 0 0 / 0.06), */
    /*     0 0.5px 1.5px rgb(0 0 0 / 0.1); */
    /* } */
}

:root[uidensity=compact] { --user-panel-gap: 6px; }
@media (-moz-bool-pref: "uc.tweak.sidebar-full-collapse") {
    :root { --user-panel-gap: 12px }
    :root[uidensity=compact] { --user-panel-gap: 10px; } 
}
@media (-moz-bool-pref: "uc.tweak.extra-thicc-browser-margin"){
    :root { --user-panel-gap: 14px }
    :root[uidensity=compact] { --user-panel-gap: 12px; } 
}

body {
    background-color: var(--lwt-accent-color);
}
 
/* tabs */

html:not([sizemode="fullscreen"]) {
    #appcontent {
        margin: var(--user-panel-gap);
        margin-top: 0 !important;
    }
    
    #appcontent .browserStack {
        border-radius: var(--user-radius);
        box-shadow: var(--user-rounded-corners-shadow) !important;
        background-color: var(--lwt-accent-color);
        
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            /* Draw toolbar background on the negative corner space, then draw the
            * same from the browser window shadow on top. */
            box-shadow:
                var(--uc-tweak-rounded-corners-shadow, 0 0 transparent),
                0 0 0 16px var(--lwt-accent-color) !important;       
            clip-path: inset(0);
            pointer-events: none;
        }
    }
}

#identity-box.extensionPage {
    display: none;
}

#urlbar-background {
    border: none !important; 
}

/* address bar */

#urlbar-background {
    border-radius: 6px;
}

/* link thingy when hovering over url */
#statuspanel {
    & #statuspanel-label {
        border-radius: var(--user-radius) !important;
        background-color: var(--lwt-accent-color) !important;
        border: none !important;
    }
    
    bottom: 2px !important;
    &:not([mirror="true"]) { left: 2px !important; }
    &[mirror="true"] { right: 2px !important; }
}

#navigator-toolbox {
    border-bottom: none !important;
} 

#navigator-toolbox {
    transition: margin-top 150ms ease-out;
    z-index: 10;
}
 
/* appcontent */
 
#browser, #sidebar-header, #sidebar-box { background-color: var(--lwt-accent-color) !important; }

#sidebar-box {
    :root:not([sizemode="fullscreen"]) {
        border-radius: var(--user-radius) !important;
    }
    background-color: var(--lwt-accent-color) !important;
    margin: 
        0
        calc(var(--user-panel-gap)*-0.5) 
        var(--user-panel-gap)
        calc(var(--user-panel-gap)*0.5)            
        !important;
    
}
:root[sizemode="fullscreen"] #sidebar-box {
        margin-right: calc(var(--user-panel-gap)*0.5) !important;
        margin-bottom: 0px !important;
}

#sidebar {
    border-radius: var(--user-radius);
    background-color: inherit !important;
}

#statuspanel {
    overflow: hidden;
}
 
#tabbrowser-tabpanels {
    background: transparent !important;
}


/* remove sidebar button bg */
toolbar .toolbarbutton-1 {
    &:not([disabled], :hover:active) {
        &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
            background-color: transparent !important;
        }
    }
}



/* dev tools */
splitter.devtools-horizontal-splitter {
    opacity: 0 !important;
}

.devtools-side-splitter {
    opacity: 0 !important;
}

.devtools-toolbox-bottom-iframe {
    border-radius: var(--user-radius) !important;
    margin-top: var(--user-panel-gap) !important;
}

.devtools-toolbox-side-iframe {
    border-radius: var(--user-radius) !important;

    &:first-child {
        margin-inline-end: var(--user-panel-gap) !important;
    }

    &:last-child {
        margin-inline-start: var(--user-panel-gap) !important;
    }
}

.browserContainer.responsive-mode {
    background-color: var(--lwt-accent-color) !important;
}

.browserContainer.responsive-mode > .browserStack > browser {
    border: none !important;
}

.browserContainer.responsive-mode > .rdm-toolbar {
    border-radius: var(--user-radius) !important;
    background-color: var(--lwt-accent-color) !important;
}





