/* Styles */

/* Colors */
@define-color bg              #0d0c12;
@define-color bg_battery      #313244;
@define-color bg_bluetooth    #1e1e2d;
@define-color bg_date         #1e1e2d;
@define-color bg_icon         #B4BEFE;
@define-color bg_network      #181825;
@define-color bg_time         #313244;
@define-color bg_wireplumber  #181825;


/* */

* {
    border: none;
    border-radius: 0px;
    font-family: UbuntuMono;
    font-size: 14px;
}

window {
    margin: 0px 0px; 
    padding: 0px 0px;
    background: @bg;
}

/*-----module groups----*/
.modules-right {
	background-color: rgba(13,12,18,1.0);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
}
.modules-center {
	background-color: rgba(13,12,18,0.00);
    margin: 0px 0 0 0;
}
.modules-left {
    margin: 0px 0 0 0px;
	background-color: rgba(0,119,179,0.0);
}

/* Each module */
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#memory,
#network,
#temperature,
#wireplumber {
    padding: 0px 10px;
}

/*-----modules indv----*/
#workspaces {
	margin: 0px 0px;
	padding: 0px 0px;
	background-color: @bg_wireplumber;
}

#workspaces button {
	margin: 0px 4px;
	padding: 0px 0px;
	color: #e5e5e5;
	background-color: rgba(20,20,20,0.0);
}

#workspaces button.active {
    margin: 0px 4px;
    padding: 0px 4px;
    border-radius: 40px;
    color: #090815;
    background-color: #8BD5CA;
}

#window {
  font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px; 
}

#custom-icon{
    color: #000000;
    background-color: @bg_icon;
}

#mpris {
  margin: 0px 0px 0px 0px;
  padding: 0px 30px;
}

#backlight {
	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        color: #e0f9ff;
        background-color: rgba(30,30,50,0.8);
}


#battery {
        color: #e0f9ff;
        background-color: @bg_battery;
}

#battery.charging {
        color: #e7ff87;
}

#battery.warning {
        color: #ff0000;
}

#bluetooth,
#bluetooth.connected {
        color: #bbddfc;
}

#bluetooth.off, 
#bluetooth.disabled {
        color: #787878;
}

#bluetooth,
#bluetooth.connected,
#bluetooth.off,
#bluetooth.disabled {
        background-color: @bg_bluetooth;
}

#clock.date {
       color: #c5daed;
       background-color: @bg_date;
}

#clock.time {
       color: #c5daed;
       background-color: @bg_time;
}

#custom-icon {
	margin: 0px 0px;
	padding: 0px 10px;
}

#custom-separator {
	margin: 0px 5px;
  color: #888888;
}

#network {
        color: #bbddfc;
        background-color: @bg_network;
}

#custom-notification {
    margin: 0px 4px;
    padding: 0px 10px;
    border: 0px;
    border-radius: 12px;
    color: #000000;
    background-color: #A0AAE3;

}

#temperature {
        color: #beedea;
}

#temperature.critical {
        margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 32px;
        color: #ff6f00;
        background-color: rgba(30,30,50,0.0);
}

#wireplumber {
        color: #e0f9ff;
        background-color: @bg_wireplumber;
}

#wireplumber.muted {
        color: #787878;
}


#cpu,
#memory,
#disk,
#temperature {
        border-radius: 0px;
        color: #beedea;
        background-color: rgba(20,20,30,0.0);
}

#backlight {
      	margin: 0px 3px;
        padding: 0px 10px;
        border-radius: 12px;
        background-color: rgba(30,30,50,0.0);
}

#tray {
	margin: 0px 40px 0px 5px;
        padding: 0px 12px;
	background-color: rgba(18,22,32,0.8);
}

#tray menu {
	background-color: rgba(12,13,41,0.95);
}


/*    Arrows    */

#custom-arrow0 {    /* battery -- swaync */
    font-size: 15pt;
    color: @bg; 
    background-color: @bg_battery; 
}
#custom-arrow1 {    /* bluetooth -- battery */
    font-size: 15pt;
    color: @bg_battery;
    background-color: @bg_bluetooth;
}
#custom-arrow2 {    /* wireplumber -- bluetooth */
    font-size: 15pt;
    color: @bg_bluetooth;
    background-color: @bg_wireplumber;
}
#custom-arrow3 {    /* MPRIS -- wireplumber */
    font-size: 15pt;
    color: @bg_wireplumber;
    background-color: @bg;
}
#custom-arrow4 {    /* network -- MPRIS */
    font-size: 15pt;
    color: @bg_network;
    background-color: @bg;
}
#custom-arrow5 {    /* date -- network */
    font-size: 15pt;
    color: @bg_date;
    background-color: @bg_network;
}
#custom-arrow6 {    /* time -- date */
    font-size: 15pt;
    color: @bg_time;
    background-color: @bg_date;
}
#custom-arrow7 {    /* icon -- time */
    font-size: 15pt;
    color: @bg;
    background-color: @bg_time;
}
#custom-arrow8 {    /* icon -- time */
    font-size: 15pt;
    color: @bg_icon;
    background-color: @bg;
}
