/* Styles */

/* Colors */
@define-color bg                      #0d0c12;

@define-color bg_backlight            #0d0c12;

@define-color battery_warning         #fc3e0a;
@define-color bg_battery              #0d0c12;

@define-color bg_bluetooth            #0d0c12;

@define-color cpu                     #F5BDE6;
@define-color bg_cpu                  #0d0c12;

@define-color bg_date                 #0d0c12;

@define-color bg_icon                 #313244;

@define-color memory                  #F5BDE6;
@define-color bg_memory               #0d0c12;

@define-color bg_network              #0d0c12;
@define-color bg_notifications        #d3d9f0;
@define-color bg_temperature          #0d0c12;
@define-color bg_time                 #0d0c12;
@define-color bg_wireplumber          #0d0c12;
@define-color bg_workspaces           #1d1d2b;
@define-color bg_workspaces_button    #D3D9F0;


/* */

* {
    border: none;
    border-radius: 0px;
    font-family: UbuntuMono;
    font-size: 14px;
}

window {
    margin: 0px 0px; 
    padding: 0px 0px;
    background: @bg;
}

/*-----module groups----*/
.modules-right {
	background-color: rgba(13,12,18,0.0);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
}
.modules-center {
	background-color: rgba(13,12,18,0.00);
    margin: 0px 0 0 0;
}
.modules-left {
    margin: 0px 0 0 0px;
	background-color: rgba(0,119,179,0.0);
}

/* Each module */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#memory,
#network,
#temperature,
#wireplumber {
    padding: 0px 18px;
}

/*-----modules indv----*/
#workspaces {
	margin: 0px 0px;
	padding: 0px 4px 0px 0px;
	background-color: @bg_workspaces;
}

#workspaces button {
	margin: 0px 5px;
	padding: 0px 0px;
	color: #e5e5e5;
}

#workspaces button.active {
    margin: 0px 4px;
    padding: 0px 0px;
    border-radius: 0px;
    color: #000000;
    background-color: @bg_workspaces_button;
}

#window {
  font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px; 
}

#cpu {
    color: @cpu;
    background-color: @bg_cpu;
}

#custom-icon{
    color: #F5BDE6;
    background-color: @bg_icon;
}

#mpris {
  margin: 0px 20px 0px 0px;
  padding: 0px 0px;
}

#backlight {
        border-radius: 12px;
        color: #e0f9ff;
        background-color: @bg_backlight;
}


#battery {
        color: #A6DA95;
        background-color: @bg_battery;
}

#battery.charging {
        color: #e7ff87;
}

#battery.warning {
        color: @battery_warning;
}

#bluetooth,
#bluetooth.connected {
        color: #bbddfc;
}

#bluetooth.off, 
#bluetooth.disabled {
        color: #787878;
}

#bluetooth,
#bluetooth.connected,
#bluetooth.off,
#bluetooth.disabled {
        background-color: @bg_bluetooth;
}

#clock.date {
       color: #c5daed;
       background-color: @bg_date;
}

#clock.time {
       color: #c5daed;
       background-color: @bg_time;
}

#custom-icon {
	margin: 0px 0px;
	padding: 0px 10px;
}

#custom-separator {
	margin: 0px 5px;
  color: #888888;
}

#network {
        color: #bbddfc;
        background-color: @bg_network;
}

#network.disconnected {
        color: #787878;
        background-color: @bg_network;
}

#custom-notification {
    margin: 0px 0px;
    padding: 0px 8px;
    border: 0px;
    color: #000000;
    background-color: @bg_notifications;

}

#memory {
        color: @memory;
        background-color: @bg_memory;
}

#temperature {
        color: #beedea;
        background-color: @bg_temperature;

}

#temperature.critical {
        color: #ff6f00;
}

#wireplumber {
        color: #e0f9ff;
        background-color: @bg_wireplumber;
}

#wireplumber.muted {
        color: #787878;
}

#tray {
	margin: 0px 40px 0px 5px;
        padding: 0px 12px;
	background-color: rgba(18,22,32,0.8);
}

#tray menu {
	background-color: rgba(12,13,41,0.95);
}
