#navigator-toolbox, #nav-bar {
    background-color: var(--lwt-accent-color) !important;
    box-shadow: none !important;
}

.browserContainer > findbar {
    z-index: 5 !important;
    margin: 0 !important;
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
}

@media (-moz-bool-pref: "uc.tweak.extra-thin-nav-bar") {
    :root[uidensity=compact] {
        #nav-bar { 
            max-height: 28px !important;
        }
        #urlbar-container {
            padding-block: none !important;
        }
        #urlbar {
            top: 1px !important;
        }
    }
}
#PlacesToolbar, #PlacesToolbarItems {
    flex-direction: row-reverse !important;
    max-width: max-content !important;
}

#personal-bookmarks {
    max-width: max-content !important;
}
