/* padding:  up left down right  */

window {
margin: 0px;
border: 0px solid red;
border-radius: 16px;
font: JetBrains Mono;
font-size: 20px;
background-color: rgba(13,12,18,0.0);
}

#input {
margin: 0px;
border: 0px solid black;
color: #fdfdfd;
background-color: rgba(20,20,34,0.9);
}

#inner-box {
margin: 0px;
border: 0px solid yellow;
background-color: rgba(13,12,18,0.0);
}

#outer-box {
margin: 0px;
padding: 10px 7px 0px 7px;
border: 0px solid green;
border-radius: 8px;
background-color: rgba(13,12,18,0.95);
}

#scroll {
margin: 0px;
border: 0px solid orange;
background-color: rgba(13,12,18,0.0);
}

#entry {
background-color: rgba(13,12,18,0);
}

#entry:selected {
margin: 5px;
background-color: rgba(13,12,18,0);
border: 1px solid white;
}

#text {
margin: 5px;
color: #e3f1ff;
}

#text:selected {
color: rgba(255,255,255,1);
}

#expander-box {
background-color: rgba(13,12,18,0.8);
}

 
